In [ ]:
#LIST
#Que 1. List and its default function.

In [6]:
lst = ["Pawan", 5, 9, 2000]
print(lst)

['Pawan', 5, 9, 2000]

In [ ]:
#1. append

In [8]:
lst = ["Pawan", 5, 9, 2000] 
lst.append("Gupta")
print(lst)

['Pawan', 5, 9, 2000, 'Gupta']

In [ ]:
#2. len

In [3]:
lst = ["Pawan", 5, 9,2000]
print(len(lst))

4

In [ ]:
#3. pop

In [9]:
lst = ["Pawan", 5,9,2000]
print(lst)

['Pawan', 5, 9, 2000]

In [ ]:
#4. insert

In [10]:
lst = ["Pawan", 5, 9, 2000] 
lst.insert(1, "Gupta") 
print(lst)

['Pawan', 'Gupta', 5, 9, 2000]

In [ ]:
#5. max

In [12]:
lst = [5, 9, 2000] 
print(max(lst))

2000

In [ ]:
#6. min

In [13]:
lst = [5, 9, 2000] 
print(min(lst))

5

In [ ]:
#7. extend

In [14]:
lst1 = ["Pawan", 5, 9, 2000]
lst2 = ["Gupta", 13, 10, 1995]
lst1.extend(lst2)
print(lst1)

['Pawan', 5, 9, 2000, 'Gupta', 13, 10, 1995]

In [ ]:
#Dictionary
#Que 2. Dictionary and its default function.

In [15]:
dict = {"Name" : "Pawan", "Age" : 23, "Class" : "Msc"} 
print(dict)

{'Name': 'Pawan', 'Age': 23, 'Class': 'Msc'}

In [ ]:
#1. len

In [16]:
dict = {"Name" : "Pawan" , "Age" : 23, "Class" : "Msc"}
print(len(dict))

3

In [ ]:
#2. str(dict)

In [17]:
dict = {"Name" : "Pawan", "Age" : 23, "Class" : "Msc"} 
print(str(dict))

{'Name': 'Pawan', 'Age': 23, 'Class': 'Msc'}

In [ ]:
#3. type

In [18]:
dict = {"Name" : "Pawan", "Age" : 23, "Class" : "Msc"} 
print(type(dict))

<class 'dict'>

In [ ]:
#4. any

In [19]:
dict ={"Name" : "Pawan", "Age" : 23, "Class" : "Msc"} 
print(any(dict))

True

In [ ]:
#5. all

In [20]:
dict = {"Name" : "Pawan", "Age" : 23, "Class" : "Msc"} 
print(all(dict))

True

In [ ]:
#6. sorted

In [21]:
dict = {"Name" : "Pawan", "Age" : 23, "Class" : "Msc"}
print(sorted(dict))

['Age', 'Class', 'Name']

In [ ]:
#7. get

In [22]:
dict = {"Name" : "Pawan", "Age" : 23, "Class" : "Msc"} 
print(dict.get("Name"))

Pawan

In [ ]:
#sets
#Que 3. Sets and its default function.

In [23]:
st = {"Pawan", "Gupta", 5, 9, 2000} 
print(st)

{'Gupta', 5, 9, 2000, 'Pawan'}

In [ ]:
#1. intersection

In [24]:
st1 = {"Pawan", "Gupta", 5, 9, 2000} 
st2 = {5, 9, 2000, "Radha", "Kale"} 
print(st1.intersection(st2))

{2000, 9, 5}

In [ ]:
#2. issubset

In [25]:
st1 = {"Pawan", "Gupta", 5, 9, 2000} 
st2 = {"Pawan", 2000}
print(st1.issubset(st2))

False

In [ ]:
#3. Union

In [27]:
st1 = {"Pawan", 5, 9, 2000} 
st2 = {"Gupta", 13, 11, 1995}
print(st1.union(st2))

{'Gupta', 5, 9, 11, 1995, 13, 2000, 'Pawan'}

In [ ]:
#4. remove

In [28]:
st = {"Pawan", 5, 9, 2000} 
st.remove("Pawan") 
print(st)

{2000, 9, 5}

In [ ]:
#5. update

In [29]:
st1 = {"Pawan", 5, 9, 2000} 
st2 = {"Gupta", 1}
st1.update(st2) 
print(st1)

{2000, 'Gupta', 1, 5, 9, 'Pawan'}

In [ ]:
#Tuple
#Que 4. Tuple and explore its default method.

In [30]:
tup = ("Pawan", "Gupta", 5, 9, 2000) 
print(tup)

('Pawan', 'Gupta', 5, 9, 2000)

In [ ]:
#1. count

In [31]:
tup = ("Pawan", "Gupta", "Pawan", 5, 9, 2000) 
print(tup.count("Pawan"))

2

In [ ]:
#2. index

In [32]:
tup = ("Pawan", "Gupta", 5, 9, 2000)
print(tup.index(5))

2

In [ ]:
#3. len

In [33]:
tup = ("Pawan", 5, 9, 2000) 
print(len(tup))

4

In [ ]:
#4. max

In [34]:
tup = (11, 5, 9, 2000) 
print(max(tup))

2000

In [ ]:
#5. min

In [35]:
tup = (11, 5, 9, 2000) 
print(min(tup))

5

In [ ]:
#String
#Que 5. String and explore its default method.

In [36]:
str = "hello, i am Pawan" 
print(str)

hello, i am Pawan

In [ ]:
#1. Capitalize

In [37]:
str = "hello, i am Pawan" 
print(str.capitalize())

Hello, i am pawan

In [ ]:
#2. Index

In [38]:
str = "hello, i am Pawan" 
print(str.index("Pawan"))

12

In [ ]:
#3. lower

In [39]:
str = "Hello, I am PAWAN" 
print(str.lower())

hello, i am pawan

In [ ]:
#4. title

In [40]:
str = "hello, i am Pawan" 
print(str.title())

Hello, I Am Pawan

In [ ]:
#5. center

In [41]:
str = "hello, i am Pawan" 
print(str.center(40))

           hello, i am Pawan